Repository armbian/os, pull requests merged in 2023-08, with the labels that each got.

#79 Repository management refactoring
  .github/workflows/repository-update.yml
  external/code.conf
Labels: software package

#81 Add SK-AM62B board targets
  targets/all.conf
  targets/default.conf
  userpatches/targets-release-nightly.yaml
  userpatches/targets-release.yaml
Labels: build target

#84 Improve repository management
  .github/workflows/repository-update.yml
Labels: enhancement

#87 Lets add etcher for arm
  external/balena-etcher-arm.conf
Labels: software package
