Repository armbian/os, pull requests merged in 2024-05, with the labels that each got.

#186 update extension target mapping
  userpatches/targets-extensions.map
Labels: Action scripts

#187 add mesa-oibaf extension to nanopi r6 edge images
  userpatches/targets-extensions.map
Labels: Action scripts

#189 Update template
  userpatches/targets-release-standard-support.template
Labels: Action scripts

#192 Remove deprecated files and sections
  targets/README.md
  targets/all.conf
  targets/default.conf
  targets/helper.sh
  userpatches/extensions/amazingfated-rk3588.sh
  userpatches/extensions/mesa-vpu.sh
Labels: Build target

#193 Add fastfetch
  external/fastfetch.conf
Labels: Software package

#194 Add Chromium
  external/chromium-aarch64.conf
  external/chromium-jammy.conf
  external/chromium.conf
Labels: Software package

#196 Fixing ZFS on Ubuntu (tested) and Debian (not tested yet)
  external/zfs-bookworm-backports-to-bookworm.conf
  external/zfs-jammy.conf
  external/zfs-noble-oracular.conf
  external/zfs-sid-to-bookworm.conf
Labels: Software package

#191 Bump version to next
  nightly.json
  stable.json
Labels: 05, Ready to merge

#199 Refactor function and remove hard coded values
  .github/workflows/repository-update.yml
  external/cockpit-file-sharing.conf.disabled
  external/mesa-sid-to-bookworm.conf.disabled
  external/nala-jammy.conf.disabled
  external/nala-lunar.conf.disabled
  external/system-monitoring-center-bookworm.conf
  external/system-monitoring-center-jammy.conf
  external/system-monitoring-center-mantic.conf
  external/system-monitoring-center-noble.conf
  external/system-monitoring-center-sid.conf
  external/zfs-bookworm.conf
  external/zulu.conf
Labels: Software package
