Repository armbian/os, pull requests merged in 2024-06, with the labels that each got.

#202 Copy libcamera RPi from Noble to Jammy
  external/rpi-libcamera.conf
Labels: Software package

#213 Add Discord
  external/discord.conf
Labels: Software package

#212 Include all our repositories and 3rd party in a changelog
  .github/workflows/changelog-for-all.yml
  .github/workflows/x.yml
Labels: 08, Action scripts, Needs review

#214 Fixed missing dependency for Home Assistant extension
  userpatches/extensions/ha.sh
Labels: Bug
