Repository armbian/os, pull requests merged in 2024-09, with the labels that each got.

#234 Add youyeetoo r1 on targets-extensions.map
  userpatches/targets-extensions.map
Labels: Action scripts

#235 Enable OMV and HA for Youyeetoo R1 v3
  userpatches/targets-release-apps.template
Labels: Action scripts

#237 enable mesa-vpu extension for other rk3588 csc boards
  userpatches/targets-release-community-maintained.yaml
Labels: Action scripts

#238 external: add harfbuzz armhf for multiarch compatibility
  external/chromium-aarch64-jammy.conf
  external/harfbuzz-armhf-jammy.conf
Labels: Software package

#241 Split harfbuzz arm64 from chromium
  external/chromium-aarch64-jammy.conf
  external/harfbuzz-jammy.conf
Labels: Software package

#242 add uboot target to complete-artifact-one-by-one.yml
  .github/workflows/complete-artifact-one-by-one.yml
Labels: 11, Ready to merge

#240 Update one-by-one workflow to support vendor kernel and noble distro
  .github/workflows/complete-artifact-one-by-one.yml
Labels: 11, Ready to merge

#245 Switch Zoom to different repo
  external/zoom.conf
Labels: Software package

#244 Add Spotify client
  external/keys/spotify.gpg
  external/spotify.conf
Labels: Software package

#247 Add min browser https://github.com/minbrowser/min
  external/min.conf
Labels: Software package

#249 Add wireless tools to oracular
  external/wireless-tools-oracular.conf
Labels: Software package

#250 Enable wireless tools oracular arm
  external/wireless-tools-oracular-arm.conf
Labels: Software package
